---
layout: page
title: Archives
description: "A year wise archive collection."
excerpt: "A year wise archive collection for cVoice"
header_image: "/assets/img/archives-bg.jpg"
redirect_from: /archive/
permalink: /archives/
---

<div id='tag_cloud'>
{% for cat in site.categories %}
<a href="#{{ cat[0] }}" title="{{ cat[0] }}" rel="{{ cat[1].size }}">{{ cat[0] }} ({{ cat[1].size }})</a>
{% endfor %}
</div>

-----

<ul class="listing">
{% for cat in site.categories %}
  <li class="listing-seperator" id="{{ cat[0] }}">{{ cat[0] }}</li>
{% for post in cat[1] %}
  <li class="listing-item">
  <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
  <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
  </li>
{% endfor %}
{% endfor %}
</ul>

----

<ul class="archives">
  {% for post in site.posts %}

    {% unless post.next %}
      <h3 class="section-heading">{{ post.date | date:"%Y"}}</h3>
    {% else %}
      {% capture year %}{{ post.date | date:"%Y"}}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date:"%Y"}}{% endcapture %}
      {% if year != nyear %}
        <h3 class="section-heading">{{ post.date | date:"%Y"}}</h3>
      {% endif %}
    {% endunless %}

    <li class="row">
        <div class="col-sm-9">
            <a href="{{ post.url }}">{{ post.title }}</a>
        </div>
        <div class="col-sm-3 text-muted">
            <time>{{ post.date | date: "%Y-%m-%d" }}</time>
        </div>
    </li>

  {% endfor %}
</ul>