<!-- Gitalk 评论 start  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> 
<script src="https://xiangyingchang.com/assets/js/md5.min.js"></script>
<div id="gitalk-container"></div>
<script type="text/javascript">
    var gitalk = new Gitalk({
        clientID: '38cde5a093c3829701f7',
        clientSecret: '8caa30fb632bf56b7f1102851b0f8778304fdce8',
        repo: 'xiangyingchang.github.com',
        owner: 'xiangyingchang',
        admin: 'xiangyingchang',
        id:  md5（location.pathname）,
        distractionFreeMode: true
    });
    gitalk.render('gitalk-container');
</script> 
<!-- Gitalk end -->
