                <ul class="list-inline text-center">
                    <li>
                        <a rel="me" href="//twitter.com/lovecvoice">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-twitter fa-stack-2x"></i>
                            </span>
                        </a>
                    </li>
					<li>
                        <a rel="me" href="//facebook.com/lovecvoice">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-facebook fa-stack-2x"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a rel="me" href="http://i13.tietuku.com/b4e2b7f0f3cd6c8b.jpg">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-weixin fa-stack-2x"></i>
                            </span>
                        </a>
                    </li>
					<li>
                        <a rel="me" href="http://linkedin.com/in/lovecvoice">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-linkedin fa-stack-2x"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a rel="me" href="//github.com/xiangyingchang">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-github fa-stack-2x"></i>
                            </span>
                        </a>
                    </li>
					<li>
                        <a rel="me" href="//pinterest.com/xiangyingchang">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-pinterest fa-stack-2x"></i>
                            </span>
                        </a>
                    </li>
					<li>
                        <a rel="me" href="//www.instagram.com/afterwork1993/">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-instagram fa-stack-2x"></i>
                            </span>
                        </a>
                    </li>
					<li>
                        <a rel="me" href="http://weibo.com/xiangyingchang">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-weibo fa-stack-2x"></i>
                            </span>
                        </a>
                    </li>
					<!--<li>
                        <a rel="me" href="http://www.renren.com/481550482">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-renren fa-stack-2x"></i>
                            </span>
                        </a>
                    </li>
					<li>
                        <a rel="me" href="">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-medium fa-stack-2x"></i>
                            </span>
                        </a>
                    </li>-->
                </ul>